#customize-controls .control-section-corpopress .accordion-section-title:hover,
#customize-controls .control-section-corpopress .accordion-section-title:focus {
	background-color: #6d60b0;
	color: #fff;
}

.control-section-corpopress .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #ffbb44;
	border-color: #ffbb44;
	color: #fff;
}

.rtl .control-section-corpopress .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-corpopress h3.accordion-section-title {
    background-color: #6d60b0;
    color: #fff;
}
